{$SITE_ADDRESS} {
    encode zstd gzip

    handle /api/* {
        reverse_proxy api:3000
    }

    handle /health {
        reverse_proxy api:3000
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }

    header {
        -Server
        X-Content-Type-Options "nosniff"
        Referrer-Policy "strict-origin-when-cross-origin"
        Strict-Transport-Security "max-age=31536000"
    }
}
